# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/firebase-service-account.json

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.example
frontend/node_modules
frontend/.agents
frontend/.claude

# OS
.DS_Store

# node modules
node_modules

